@model DataAccess.DAL.Entities.UserEntity

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1> 
<hr />
<div class="row">
    <div class="col-md-4">
          <form action="/Home/Login" method="post" novalidate="novalidate">            
           
            <div class="form-group">
                <label class="control-label" for="Login">Login</label>
                <input class="form-control" type="text" id="Login" name="Login" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Password</label>
                <input class="form-control" type="password" id="Password" name="Password" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            
              <!-- Permet d'ajouter le champs caché contenant le token -->
            @Html.AntiForgeryToken()
              <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
      </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
